#afterSignin {
  display: block;
}
/*分隔線*/
.line {
  width: 1200px;
  height: 0px;
  border-top: 1px solid #e8e8e8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
  display: block;
}
/*input欄位*/
input {
  width: 200px;
  height: 38px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
}
.tpfield {
  height: 38px;
  width: 200px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
}
.tpfield:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.has-error {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-success {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.form-group{
  display: flex;
}
/*上方區塊*/
.first_part {
  width: 1200px;
  color: #666666;
  padding-left: 10%;
  margin-left: auto;
  margin-right: auto;
}
.subtitle {
  padding-top: 100px;
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
}
#nodatahere {
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  padding-top: 35px;
  display: none;
}
.booking_data {
  display: flex;
  height: 275px;
  position: relative;
}
.picture {
  width: 266px;
  height: 200px;
}
.picture2 {
  width: 266px;
  height: 200px;
  margin-top: 35px;
  border-radius: 3px;
}
.booking_text {
  height: 275px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-top: 40px;
}
.text1 {
  color: #448899;
}
.text2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.text4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text5 {
  margin-bottom: 75px;
}
.delete_icon {
  position: absolute;
  top: 10.5%;
  right: 14.5%;
}
.delete_icon:hover {
  cursor: pointer;
}
.b_id{
  display: none;
}
/*中間區塊*/
.second_part {
  width: 1200px;
  height: 307px;
  padding-left: 10%;
  margin-left: auto;
  margin-right: auto;
}
.contact {
  color: #666666;
}
.contactdata {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
  margin-bottom: 34px;
  margin-top: 44px;
}
.contactname {
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
}
.contactemail {
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  margin-top: 29px;
  margin-bottom: 29px;
}
.contactnumber {
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
}
.notice {
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  margin-top: 33px;
  margin-bottom: 45px;
}
/*下方區塊*/
.third_part {
  width: 1200px;
  height: 268px;
  padding-left: 10%;
  margin-left: auto;
  margin-right: auto;
}
.pay {
  margin-top: 44px;
  color: #666666;
}
.creditcard {
  font-weight: 700;
  font-size: 19px;
  line-height: 16px;
}
.control-label{
  padding-top: 5px;
}
.cardnumber_title{
  padding-top: 40px;
}
.card-number {
  margin-top: 35px;
  margin-bottom: 8px;
}
.expiration-date {
  margin-bottom: 8px;
}
.cvc {
  margin-bottom: 47px;
}
/*確認付款區*/
.howmuch {
  margin-left: 69%;
  margin-top: 43px;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
#certain {
  margin-left: 70%;
  margin-top: 25px;
  margin-bottom: 62px;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  color: #ffffff;
  width: 173px;
  height: 36px;
  background: #448899;
  border-radius: 5px;
  border: none;
}
#certain:hover{
  cursor: pointer;
}


/*RWD區塊*/
@media screen and (max-width: 1200px) {
  .titlemain {
    width: 900px;
  }
  .line {
    width: 900px;
  }
  .first_part {
    width: 900px;
  }
  .second_part {
    width: 900px;
  }
  .third_part {
    width: 900px;
  }
}

@media screen and (max-width: 960px) {
  .titlemain {
    width: 630px;
  }
  .line {
    width: 630px;
  }
  .first_part {
    width: 630px;
  }
  .second_part {
    width: 630px;
  }
  .third_part {
    width: 630px;
  }
  .text5 {
    line-height: 19px;
  }
  .notice {
    line-height: 19px;
  }
  .delete_icon {
    right: 9%;
  }
}

@media screen and (max-width: 670px) {
  .booking_data {
    display: block;
    height: 495px;
  }
  .first_part {
    width: 330px;
  }
  .line {
    width: 330px;
  }
  .booking_text {
    margin-left: 0px;
  }
  .delete_icon {
    top: 88.5%;
    right: 9%;
  }
  .text1 {
    padding-top: 29px;
  }
  .second_part {
    width: 330px;
  }
  .notice {
    line-height: 26px;
  }
  .third_part {
    width: 330px;
  }
  .howmuch {
    margin-left: 50.5%;
  }
  #certain {
    margin-left: 47.5%;
  }
}
