/*登出按鈕*/
#afterSignin {
    display: block;
  }
/*顯示訂單編號的區域*/
body{
  color: #666666;
}
.thankyou_text{
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    text-align: center;
}
.text1{
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom:20px;
}
.text2{
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.text3{
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 70px;
  margin-top: 40px;
}
/*頁尾*/
.footer {
    height: 600px;
  }