{% extends "base.html" %}

    
{% block head %}
<link href="/static/css/attraction.css" rel="stylesheet"/>
<link href="/static/css/signinup.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="upper" id="upper">        
<div id="pic">
    <img src="/static/pic/btn_leftArrow.png" id="pic3" onmouseover="enter1()" onmouseout="leave1()" onclick="switchto1()">
    <img src="/static/pic/btn_rightArrow.png" id="pic4" onmouseover="enter2()" onmouseout="leave2()" onclick="switchto2()">
    <div id="ball"></div>
</div>
<div class="parttwo">
    <div id="titlename"></div>
    <div id="subtitle"><span id="mrt"> at </span></div>
    <form id="booking" onsubmit="tobook()">
        <div class="b_title">訂購導覽行程</div>
        <div class="b_slogan">以此景點為中心的一日行程，帶您探索城市角落故事</div>
        <div class="b_date" >選擇日期：<input id="date" type="date" required></div>
        <div class="b_time" >選擇時間：
            <span onclick="changetime1()" class="halfday">
                <img src="/static/pic/Ellipse 2.png" id="green1">
                <img src="/static/pic/Ellipse 1.png" id="white1">
            </span><span class="half_day1">上半天</span>
            <span onclick="changetime2()" class="halfday">
                <img src="/static/pic/Ellipse 2.png" id="green2" >
                <img src="/static/pic/Ellipse 1.png" id="white2">
            </span><span class="half_day2">下半天</span>
        </div>
        <div class="b_fee">導覽費用：<span id="money2000">新台幣 2000 元</span><span id="money2500">新台幣 2500 元</span></div>
        <input type="submit" class="btn" value="開始預訂行程">
    </form>
</div>
</div>
<div id="nodatahere"></div>
<div class="line" id="line"></div>
<div class="lower" id="lower">
    <div id="description"></div>
    <div id="address">景點地址:<div id="address1"></div></div>
    <div id="transport">交通方式:<div id="transport1"></div></div>
</div>  
{% endblock %}
      
{% block js %}
<script type="text/javascript" src="/static/js/attraction.js"></script>
<script type="text/javascript" src="/static/js/LoginoutRegister.js"></script>
{% endblock %}
    
