<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
    <META HTTP-EQUIV="expires" CONTENT="0">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/pic/bx-building-house.svg">
    <title>台北一日遊</title>
    <link href="/static/css/same.css" rel="stylesheet"/>
    {% block head %}{% endblock %}
</head>
<body onselectstart="return false">
    <div id="signin" class="template">
        <div class="decorator"></div>
        <div class="sign_title">登入會員帳號<img src="/static/pic/x-mark.png" class="cross" onclick="darkover()"></div>
        <form onsubmit="goSignin()">
        <div style="position:relative">
            <input type="email" placeholder="輸入電子信箱" class="sign sign1" id="signin_email" onkeyup="verify(this)" required>
            <img src="/static/pic/check.png" class="ok" id="signin_email_ok">
            <img src="/static/pic/close.png" class="notok" id="signin_email_notok">
        </div>
        <div style="position:relative">
            <input type="password" placeholder="輸入密碼" class="sign sign1" id="signin_password" onkeyup="verify(this)" required>
            <img src="/static/pic/check.png" class="ok" id="signin_password_ok">
            <img src="/static/pic/close.png" class="notok" id="signin_password_notok">
        </div>
        <button type="submit" class="sign submit" >登入帳戶</button>
        <div id="in_message" class="message"></div>
        </form>
        <button class="switch" onclick="toregister()">還沒有帳戶?點此註冊</button>
    </div>
    <div id="signup">
        <div class="decorator"></div>
        <div class="sign_title">註冊會員帳號<img src="/static/pic/x-mark.png" class="cross" onclick="darkover()"></div>
        <form onsubmit="goSignup()">
        <div style="position:relative">
            <input type="text"  placeholder="輸入姓名" class="sign in sign1" id="signup_username" onkeyup="verify(this)" required >
            <img src="/static/pic/check.png" class="ok" id="signup_username_ok">
            <img src="/static/pic/close.png" class="notok" id="signup_username_notok">
        </div>
        <div style="position:relative">
            <input type="email"  placeholder="輸入電子信箱" class="sign in sign1" id="signup_email" onkeyup="verify(this)" required >
            <img src="/static/pic/check.png" class="ok" id="signup_email_ok">
            <img src="/static/pic/close.png" class="notok" id="signup_email_notok">
        </div>
        <div style="position:relative">
            <input type="password"  placeholder="輸入密碼" class="sign in sign1" id="signup_password" onkeyup="verify(this)" required >
            <img src="/static/pic/check.png" class="ok" id="signup_password_ok">
            <img src="/static/pic/close.png" class="notok" id="signup_password_notok">
        </div>
        <button type="submit" class="sign submit" >註冊新帳戶</button>
        <div id="up_message"></div>
        </form>
        <button class="switch" onclick="tosignin()">已經有帳戶了?點此登入</button>
    </div>
    <div id="booksuccess">
        <div class="decorator"></div>
        <div class="sign_title" id="bs_1">預定成功，你可以</div>
        <button class="switch1" onclick="booknext()" id="bs_2">繼續預定(每次最多預定五個行程)</button>
        <button class="switch1" onclick="bookover()" id="bs_3">或是前往結帳付款</button>
    </div>
    <div id="revise" class="template">
        <div class="decorator"></div>
        <div class="sign_title">修改會員密碼<img src="/static/pic/x-mark.png" class="cross" onclick="darkover3()"></div>
        <form onsubmit="gorevise()">
        <div style="position:relative">
            <input type="password" placeholder="請輸入新密碼" class="sign sign1" id="modify_password" onkeyup="verify(this)" required>
            <img src="/static/pic/check.png" class="ok" id="signin_email_ok">
            <img src="/static/pic/close.png" class="notok" id="signin_email_notok">
        </div>
        <div style="position:relative">
            <input type="password" placeholder="請再次輸入新密碼" class="sign sign1" id="modify_password2" onkeyup="verify(this)" required>
            <img src="/static/pic/check.png" class="ok" id="signin_password_ok">
            <img src="/static/pic/close.png" class="notok" id="signin_password_notok">
        </div>
        <button type="submit" class="sign submit" >確定修改密碼</button>
        <div id="revise_message" class="message"></div>
        </form>
    </div>
    <div id="dark" onclick="darkover()"></div>
    <div id="loading"><img src="/static/pic/loading1.gif" id="loadingicon"></div>
    <div class="title">
        <nav class="titlemain">
            <a href="/" class="lefttitle">台北一日遊</a>
            <div class="space"></div>
            <a id="righttitle1" onclick="trytobook()">預定行程</a>
            <a class="righttitle2" onclick="tosignin_up()" id="preSignin">登入/註冊</a>
            <a class="righttitle2" onclick="tomember()" id="afterSignin">會員專區</a>
        </nav>
    </div>
    {% block content %}{% endblock %}
    <div class="footer" id="footer">
        <div class="copyright" id="copyright">COPYRIGHT © 2022 台北一日遊</div>
    </div>
    {% block js %}{% endblock %}
</body>
</html>