<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/bx-building-house.svg">
    <title>台北一日遊</title>
    <link href="../static/index.css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/index.js"></script>
</head>
<body onload="getData(0)">
    <div class="title">
        <nav class="titlemain">
            <div class="lefttitle">台北一日遊</div>
            <div class="space"></div>
            <div class="righttitle1">預定行程</div>
            <div class="righttitle2">登入/註冊</div>
        </nav>
    </div>
    <div class="welcome">
        <div class="subtitle">輕鬆享受台北一日悠閒</div>
        <div class="slogan">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="query">
        <input type="text" placeholder="輸入景點名稱查詢" id="query">
        <button class="button" onclick="remove(query(0))"><img src="../static/icon_search.png" class="img1" /></button>
        </div>
        <img src="../static/welcome.png" class="picture"> 
    </div>
    <div id="attractions" class="attractions">
    </div>
    <div class="footer">
        <div class="copyright" id="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>
</html>