{% extends "base.html" %}

{% block head %}
<link href="/static/css/thankyou.css" rel="stylesheet"/>
<link href="/static/css/signinup.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="thankyou_text">
    <div class="text1">行程預定成功</div>
    <div class="text1">您的訂單編號如下</div>
    <div id="orderNumber" class="text2"></div>
    <div class="text3">可至會員中心查詢歷史訂單</div>
</div>
{% endblock %}
        
{% block js %}
<script type="text/javascript" src="/static/js/thankyou.js"></script>
{% endblock %}
